/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* General Styles */

h1 {
	text-align: center;
	font-size: 21pt;
	line-height: 21pt;
	text-transform: uppercase;
	font-family:'PT Sans', sans-serif;
	margin: 1em 0;
	color: #222829;
}
h2 {
	font-size: 18pt;
	line-height: 18pt;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	color: #222829;
}

a {
	text-decoration: none;
}
body {
	font-family: 'Playfair Display', serif;
}
a.btn {
    text-transform: uppercase;
    margin-top: 3em;
    color: #fff;
    background-color: #222e2e;
    padding: 1.2em 4%;
    border-radius: 0.2em;
    display: inline-block;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14pt;
    line-height: 14pt;

}
/*header*/
header {
	background-color: #222e2e;
	padding: 10px 0;
}
header img {
	width: 160px;
	margin: 1em 0 0 2em;
}
nav {
    float: right;
}
ul {
	list-style: none;
}
nav ul {
    margin: 1em 5em;
}
nav li {
    display: inline-block;
}
nav li a {
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	color: #fff;
	margin: 0.5em;
	font-size: 13pt;
	line-height: 13pt;
}
section.hero {
	background-color: #425351;
    padding: 2em 18%;
}
h1.intro {
	font-size: 3.2em;
    padding: 3em 12%;
    font-family:'PT Sans', sans-serif;
    color: #fff;
    text-transform: capitalize;
    margin: 0;
}

/*section about*/

section.about {
	padding: 4em 15%;
}
section.about p {
    font-size: 1.2em;
    line-height: 1.2em;
	color: #5c6161;
	margin: 0.5em 0 0.5em 0;
	font-family: 'PT Sans', sans-serif;
}
section.about p strong {
	font-weight: bold;
	font-size: 1.2em;
}
ul.bulleted-list li:before {
	left: 0;
	top: -1px;
	content: "• ";
	font-size: 23px;
	color: #425351;
}
ul.bulleted-list li {
	margin: 0.5em 0 0.5em 0;
	font-family: 'PT Sans', sans-serif;
	color: #5c6161;
	font-size: 1.2em;
	line-height: 1.2em;
}

/*section portfolio*/

section.portfolio {
	padding: 2em 0;
	background-color: #f5f5f5;
}
section.portfolio .projects {
    overflow: auto;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}
ul.projects h2 {
	text-align: left;
	margin: 1em 0 0.5em 0;
	text-transform: uppercase;
} 
ul.projects h3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 16pt;
    line-height: 16pt;
    color: #5c6161;
    font-weight: 200;
}
li.project a.btn-more {
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #222829;
	border: solid 2px #222829;
	padding: 3% 6%;
	margin-top: 1em;
	display: inline-block;
}
li.project a.btn-more:hover {
	color: #425351;
	border: solid 2px #425351;
}
.container {
    padding: 2em 6%;
}
.portfolio .project {
    float: left;
    margin-right: 2%;
    width: 40%;
    padding: 4%;
    list-style: none;
}
.portfolio .project.last {
    margin: 0;
}

/*section our-team*/

section.our-team {
	padding: 2em 2% 0 6%;
	margin-bottom: 3em;
}
section.our-team .team {
    overflow: auto;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}
.our-team ul.container {
	padding: 2em 8%;
}
.our-team .member {
    float: left;
    margin-right: 2%;
    width: 30%;
    list-style: none;
}
.member img {
 	height: 190px;
    width: 190px;
    margin-bottom: 10px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 4em;
}
section.our-team h3 {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 0.5em;
}
section.our-team p {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 0.5em;
}

/*footer*/
.footer-one {
    background-color: #324544;
    text-align: center;
   	padding: 3em 0;
}
.footer-two {
	background-color: #222e2e;
	padding: 35px 0;

}
.footer-two h3 {
	text-align: center;
	color: #fff;
	font-size: 14pt;
	line-height: 14pt;
	margin-bottom: 0.5em;
}
footer h2 {
	color: #fff;
}
footer a {
	color: #fff;
}

